@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Serif+Display&display=swap");
@import "tailwindcss";
@import "../theme/theme.css";

@layer base {
  html {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
